@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* font-family: 'Noto Serif KR', serif; */
/*
#A7727D
#EDDBC7
#F8EAD8
#F9F5E7
*/
/* 기본 레이아웃 styling */
header {
  width: 100%;
  height: 130px;
  margin-bottom:10px;
  border-bottom:1px solid black;
}

a {
  text-decoration: none;
  color:black;
}

main {
  background-color: #ffffff;
  width: 100%;
  display: flex;
}

aside {
  flex-basis: 15%;
}

footer {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin:0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Gothic', sans-serif;
}

section {
  flex-basis:85%;
}

/* header styling */
.header-top {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right:3px;
}


.header-top-logo {
  padding: 10px;
  width: 70px;
}

.header-top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:black;
  font-weight: 600;
}

.header-top-right-search {
  background-color: #dddddd;
  display: flex;
  align-items: center;
  margin: 10px;
  padding-left: 10px;
  width: 300px;
  height: 40px;
  font-size: 20px;
}

.header-top-right-search input {
  all: unset;
  border-right: 1px solid black;
  width: 270px;
}

.header-top-right-search i {
  margin-left: 5px;
}

.header-top-right-ranking button {
  all: unset;
  width: 100px;
  font-weight: 600;
  border: 1px solid black;
  background-color: #A7727D;
  color:white;
  padding:1px;
  text-align: center;
  margin-right: 2px;
}

/* aside styling */
.aside-category-wrapper {
  display: flex;
  flex-direction: column;
  gap:12px;
  align-items: center;
}

.aside-category {
  width:100%;
}

.aside-category li {
  border-bottom:1px solid black;
}

input[id*="category"] {
  display: none;
}

input[id*="category"]+label {
  display: block;
  font-weight: 900;
  padding:20px;
  cursor: pointer;
  font-size:20px;
  border-bottom:1px solid black;
}

input[id*="category"]+label span {
  padding-left:10px;
  font-size:12px;
  font-weight: 400;
}

input[id*="category"]+label+ul {
  max-height: 0;
  transition: all .35s;
  overflow: hidden;
}

input[id*="category"]+label+ul li {
  padding: 5px 10px;
  font-size:15px;
  color:gray;
  cursor:pointer;
}

input[id*="category"]+label+ul li:hover {
  padding: 5px 10px;
  color:#050505;
  font-size:16px;
  font-weight: 600;
  cursor:pointer;
}
input[id*="category"]:checked+label+ul {
  max-height: 500px;
}

/* product top styling */

.article-product-top {
  display: flex;
  justify-content: space-between;
  padding:30px;
}

@keyframes now-category-anim {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.now-category {
  font-size:20px;
  font-weight: 600;
  padding:10px;
  color:#A7727D;
  border: 1px solid #A7727D;
  animation:now-category-anim 1.5s infinite ease-in-out;
}

.now-select-option {
  /* 추가 예정 */
}

/* article styling */
.article-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.article-product {
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right:1px solid black;
  border-bottom:1px solid black;
  padding:10px;
}

.article-product-image {
  width: 150px;
  height: 180px;
}

.article-product-name {
  font-size: 18px;
  font-weight: 600;
}

.article-product-brand {
  font-size: 14px;
  font-weight: 400;
}

.article-product-price {
  font-size: 16px;
}

.article-product-heart {
  padding-left:130px;
}

.article-product-heart i {
  color: red;
  padding-right: 3px;
}


/* footer styling */

/* move top down button */
.move-btn-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: .4rem;
  bottom: .4rem;
}
.move-btn-wrapper > div {
  padding: .3rem 1rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: .9s;
  color: #000000;
  margin-right: .4rem;
  margin-top: 8px;
} 
.move-top-btn:hover, .move-bottom-btn:hover {
  color: #000000;
  background: #72716d;
}