@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

ul {
  list-style: none;
}

.logo {
  font-size: 40px;
  letter-spacing: 7px;
  margin: 7px;
}

header {
  position: relative;
}

main {
  display:flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.nav-top {
  display:flex;
  justify-content: space-between;
}
nav .nav-list {
  display: flex;
  justify-content: flex-end;
}

nav .nav-list li {
  margin: 0.5em;
  text-align: center;
}

.mobile-nav-icon {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
}

.product-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-nav-list li {
  font-size: 20px;
  margin-right: 1em;
}

.search-bar-wrapper {
  margin-top:20px;
  padding-top:5px;
  padding-left:3px;
  border:1px solid black;
  height:30px;
}

.search-bar {
  all:unset;
  border-right:1px solid black;
}

.product-wrapper {
  display:flex;
  flex-direction: column;
  text-align: center;
  width:17%;
}

.product-name {
  font-weight: 600;
}

.product-brand {
  font-size:8px;
}

.product-heart {
  text-align: right;
}

.product-heart-icon {
  color:red;
  margin-right:3px;
  font-size:15px;
}

@media (max-width:768px) {

  /* mobile */
  nav {
    display: none;
  }

  nav .nav-list {
    flex-direction: column;
  }

  .mobile-nav-icon:hover+nav {
    display: inherit;
  }

  .search-bar-wrapper {
    display:none;
  }
}

@media(min-width:769px) {

  /* PC */
  .mobile-nav-icon {
    display: none;
  }
}