/* https://caniuse.com/ - 내가 사용하고 싶은 속성이 어느 브라우저, 어느 버전에서 작동 가능한지 확인할 수 있는 사이트 */

.wrapper{
    display:grid;
    /* grid-template-columns: 40% 30% 20%; 3개의 데이터를 한줄에 표시하는데 첫번째 데이터는 40%, 두번째 데이터는 30%, 세번째 데이터는 20%를 차지함 */
    grid-template-columns: 1fr 1fr 1fr; /*3개의 데이터를 모두 같은 비율로 나눔
    1fr 2fr 1fr 이라고 쓰면 1대2대1 비율이 됨*/
    /* grid-gap:24px; 데이터 간에 갭이 생김 */
    grid-column-gap:24px; /*column에 갭이 생김*/
    grid-row-gap:12px; /*row에 갭이 생김*/
    grid-auto-rows:minmax(100px, auto); /*첫번째 넣는 인자가 min, 두번째 넣는 인자가 max, 최소 100px이 되고 데이터가 넘치면 auto*/
}

.item{
    background-color: black;
    border:1px solid red;
}