@keyframes circleShow {
    from {
        transform: translateX(-86px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.text-area {
    margin-top: 90px;
    margin-left: 24px;
}

.text-area h1 {
    margin-bottom: 22px;
    animation:showText 0.35s;
}

.desc{
    animation:showText 0.35s;
    animation-delay:0.2s;
    animation-fill-mode:both;
}

.line {
    width: 46px;
    height: 1px;
    background-color: #ffc6cf;
    opacity: 0.2;
    display: inline-block;
    position: relative;
    top: -7px;
}

.volume {
    margin-bottom: 85px;
}

#circle-wrapper {
    position: relative;
    margin-left: 24px;
    margin-top: 42px;
}

.circle {
    width: 246px;
    height: 246px;
    border-radius: 50%;
    position: absolute;
    animation: circleShow 2s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
}

.circle:first-child {
    background-color: transparent;
    /*투명하게*/
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    animation-delay: 0.5s;
}

.circle:nth-child(2) {
    background-color: #ffc000;
    left: 100px;
    animation-delay: 1s;
}

.circle:last-child {
    background-color: #fedd15;
    left: 200px;
    transition: 1s;
    top: 0;
    animation-delay: 1.5s;
}

.circle:last-child:hover {
    background-color: blue;
    top: -20px;
}

.circle:last-child:active {
    /*마우스로 클릭하고 있으면*/
    background-color: red;
}

#badge {
    background-color: #ffc000;
    width: 56px;
    height: 56px;
    color: #485861;
    margin-left: 24px;
    padding-left: 13px;
    padding-top: 10px;
    /* margin : 상대적인 거리를 늘리는 것
    padding : 자신의 살을 찌우는 것 */
    font-size: 9px;
    line-height: 11px;
    box-sizing: border-box;
    /*박스의 크기를 테두리(border)를 기준으로 크기를 정함*/
    position: fixed;
    top: 0;
    right: 24px;
    font-weight: bold;
    animation:slideDown 0.5s;
    animation-fill-mode:both;
    animation-delay:0.5s;
}