.search{
    margin:20px;
}

.search input{
    width:100%;
}

.text-area{
    margin:24px;
    margin-top:124px;
}

.text-area .desc{
    margin-top:12px;
}

.list{
    font-size:0;
    padding:16px;
}

.list .item{
    width:calc(50% - 16px);
    height:148px;
    display:inline-block;
    background-size:cover;
    background-position:center;
    margin:8px;
    border-radius:5px;
}

.list .item:nth-child(1){
    background-image:url("img/likes-1.jpg");
}

.list .item:nth-child(2){
    background-image:url("img/likes-2.jpg");
}

.list .item:nth-child(3){
    background-image:url("img/likes-3.jpg");
}

.list .item:nth-child(4){
    background-image:url("img/likes-4.jpg");
}

.list .item:nth-child(5){
    background-image:url("img/likes-1.jpg");
}

.list .item:nth-child(6){
    background-image:url("img/likes-2.jpg");
}
