body {
    height:calc(100vh - 20px); /*css에서 수학적 계산 하려면 calc 사용*/
    background-color: rgb(219, 217, 217);
    margin:0;
}

h1 {
    text-align:center;
    margin-bottom:50px;
    margin-top:20px;
}

.wrapper {
    width:450px;
    margin:0 auto;
}

.container {
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.color {
    width:200px;
    position: relative; /*요소 자기 자신을 기준으로 배치*/
    margin-bottom:20px;
}

.tomato .color_bg {
    background-color:tomato;
}

.teal .color_bg {
    background-color:teal;
}

.burlywood .color_bg {
    background-color:burlywood;
}

.thistle .color_bg {
    background-color: thistle;
}

.color_bg {
    height:300px;
    border:5px solid white;
}

.color_info {
    position:absolute; /*부모를 기준으로 배치*/
    width:100%;
    background-color: white;
    top:20px;
    padding:0px 10px;
    box-sizing:border-box; /*테두리를 기준으로 크기를 정함*/
}