article {
    width: 500px;
}

h1 {
    margin-top: 50px;
    font-size: 40px;
}

ul {
    margin-top: 60px;
    margin-bottom: 30px;
}

li {
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
}

li:hover {
    background-color: white;
    color:black;
}

a {
    padding: 10px 20px;
    background-color: #c71585;
    color: white;
    border-radius: 10px;
}