.featured {
    height: 310px;
    position: relative;
    background-image: url("img/issue-1.jpg");
    background-size: cover;
    background-position: center;
}

.count {
    position: absolute;
    top: 30px;
    right: 26px;
}

.text-area {
    position: absolute;
    bottom: 36px;
    left: 24px;
}

.featured .title {
    margin-bottom: 12px;
}

sup {
    font-size: 10px;
}

.swiper {
    white-space: nowrap;
    /*줄바꿈을 하지 않겠다는 의미, 크기가 넘쳐도 줄바꿈을 하지 않고 그냥 짤려서 나옴*/
    overflow-x: scroll;
    padding: 24px;
    padding-bottom: 7px;
}

.swiper li {
    /* width: 136px;
    height: 80px; */
    width: 200px;
    height: 80px;
    /* width를 설정하고 height를 auto로 주면 이미지가 안찌러지게 만들 수 있다 */
    background-size: cover;
    background-position: center;
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
}

.swiper li:first-child {
    background-image: url(img/issue-2.jpg);
}

.swiper li:nth-child(2) {
    background-image: url(img/issue-3.jpg);
}

.swiper li:last-child {
    background-image: url(img/issue-4.jpg);
}


.item {
    padding: 17px 24px 20px;
    /* 3개 - 위 오른쪽왼쪽 아래 */
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    /*opacity 0.08(8%) 적용된것이랑 같은 의미*/
    display: flex;
    position: relative;
}

.item .num {
    width: 26px;
    height: 26px;
    background-color: #ffe6cf;
    color: #485762;
    border-radius: 50%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.item .infos {
    margin-left: 10px;
}

.item .title {
    font-size: 17px;
}

.item .desc {
    font-size: 13px;
    opacity: 0.7;
}

.item:after {
    /*pseudo element*/
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
}

.item:hover:after {
    background-color: rgba(0, 0, 0, 0.12);
}

.item:active:after {
    background-color: rgba(0, 0, 0, 0.2);
}