/* span - inline
div - block
inline상태에서는 margin top bottom 적용 안됨 */
body {
    margin: 0;
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', sans-serif;
    background-color: #485861;
    color: #ffe6cf;
    font-size: 11px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom:72px;
}

h1 {
    margin: 0;
    font-size: 30px;
    line-height: 1;
    font-weight: normal;
}

h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1;
    font-weight: 400;

}

p {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input {
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.12);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffe6cf;
    font-size: 15px;
}

a {
    color: #ffe6cf;
    text-decoration: none;
}

.mouse-effect {
    position: relative;
}

.mouse-effect:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.08);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.2s;
}

.mouse-effect:hover:after {
    background-color: rgba(0, 0, 0, 0.08);
}

.mouse-effect:active:after {
    background-color: rgba(0, 0, 0, 0.12);
}

.gnb {
    width: 100%;
    height: 72px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #394952;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.gnb a {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0.3;
}

.gnb a:hover{
    opacity: 1;
}

@keyframes showText{
    from{
        transform: translateY(10px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideDown{
    from{
        transform:translateY(-60px);
    }

    to{
        transform:translateY(0px);
    }
}